<div class="container">
    <div class="row">
        <form method="get" action="/podcasts">
            <input placeholder="add url" name="url" />
            <input type="submit" />
        </form>
    </div>
</div>