@model DeskPod.Web.Models.EpisodesViewModel

<form method="get" action="/podcasts">
    <input placeholder="add url" name="url" />
    <input type="submit" />
</form>

<ul>
    @foreach (var podcast in Model.Podcasts)
    {
        <li>
            <span>@podcast.Title</span>
            <span>@podcast.PublicationDate</span>
            <audio controls>
                <source src="@podcast.Url"/>
            </audio>
        </li>
    }
</ul>